body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 30px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

section {
    padding: 30px;
}

/* Style for subheadings */
h4 {
    font-weight: bold;
    margin-top: 15px; /* Add some top margin for spacing */
}

/* Style for content paragraphs */
p {
    margin: 10px 0; /* Add some margin for spacing between paragraphs */
}

.project {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
}

/* Project details (text) container */
.project-details {
    width: 100%; /* Adjust the width as needed */
    display: inline-block;
    vertical-align: top;
    flex: 1; /* Allow the text to grow and fill available space */
    padding: 10px;
}

/* Project images and navigation container */
.project-images {
    width: 20%; /* Adjust the width as needed */
    padding: 20px;
}

.project-video {
    flex: 1; /* Allow the video to grow and fill available space */
    padding: 10px; /* Add padding as needed */
}

.slideshow-container {
    position: relative;
}
/* Slideshow container for images */
.slideshow-container-0 img{
    max-width: 100%;
    height: auto;
}
/* Slideshow container for images */
.slideshow-container-1 img{
    max-width: 100%;
    height: auto;
}

/* Slideshow container for images */
.slideshow-container-2 img{
    max-width: 100%;
    height: auto;
}

/* Container for the Previous and Next buttons */
.navigation {
    width: 100%; /* Adjust the width as needed to fit both buttons */
    display: flex;
    text-align: center;

}

.prev {
    width: 100%; /* Cover the entire height of the container */
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: 1px;
    cursor: pointer;
}

.next {
    width: 100%; /* Cover the entire height of the container */
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: 1px;
    cursor: pointer;
}

/* Ensure images fit within the container */
.slideshow-container img {
    max-width: 100%;
}