body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #6e005d;
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

section {
    padding: 30px;
}

/* Style for subheadings */
h4 {
    font-weight: bold;
    margin-top: 15px; /* Add some top margin for spacing */
}

/* Style for content paragraphs */
p {
    margin: 10px 0; /* Add some margin for spacing between paragraphs */
}

.project {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Project details (text) container */
.project-details {
    width: 100%; /* Adjust the width as needed */
    display: inline-block;
    vertical-align: top;
    flex: 1; /* Allow the text to grow and fill available space */
    padding: 10px;
}

/* Project images and navigation container */
.project-images {
    width: 20%; /* Adjust the width as needed */
    padding: 20px;
}

.project-video {
    flex: 1; /* Allow the video to grow and fill available space */
    padding: 10px; /* Add padding as needed */
}

.slideshow-container {
    position: relative;
}
/* Slideshow container for images */
.slideshow-container-0 img{
    max-width: 100%;
    height: auto;
}
/* Slideshow container for images */
.slideshow-container-1 img{
    max-width: 100%;
    min-height: 520px;
    height: auto;
}

/* Slideshow container for images */
.slideshow-container-2 img{
    max-width: 100%;
    height: auto;
    min-height: 500px;
    border: 1px solid #ddd;


}

/* Container for the Previous and Next buttons */
.navigation {
    width: 100%; /* Adjust the width as needed to fit both buttons */
    height: 5%;
    display: flex;
    text-align: center;

}

.prev {
    width: 100%; /* Cover the entire height of the container */
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: 1px;
    cursor: pointer;
    border: 1px solid #ddd;

}

.next {
    width: 100%; /* Cover the entire height of the container */
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: 1px;
    cursor: pointer;
    border: 1px solid #ddd;

}

/* Ensure images fit within the container */
.slideshow-container img {
    max-width: 100%;
}

.about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.about-image {
    padding: 15px;
}

.about-text {
    text-align: left; /* Adjust the text alignment as needed */
    padding: 15px;
    margin-right: 70px;
}

/* Optional styling for the text */
.about-text h2 {
    font-size: 24px;
    font-weight: bold;
}

.about-text p {
    font-size: 16px;
}